<div class="reservas-container">

  <mat-card>

    <mat-card-header>
      <mat-card-title>

        <div class="header-content">
          <button mat-raised-button color="primary" (click)="abrirModalCrear()" [disabled]="parqueaderos.length === 0">
            <mat-icon>add</mat-icon>
            Nueva Reserva
          </button>
        </div>
    
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      @if (loading) {
        <div class="loading-container">
          <mat-spinner></mat-spinner>
          <p>Cargando reservas...</p>
        </div>

      } @else {
        @if (parqueaderos.length === 0) {
          <div class="no-data">
            <mat-icon>info</mat-icon>
            <p>No hay parqueaderos registrados para su empresa</p>
          </div>

        } @else {

          <app-filtro-parqueaderos
            [parqueaderos]="parqueaderos"
            [parqueaderoSeleccionado]="parqueaderoSeleccionado"
            (parqueaderoCambia)="onParqueaderoCambia($event)">
          </app-filtro-parqueaderos>

          @if (errorMessage) {
            <div class="mensaje-error">
              <mat-icon color="warn">error</mat-icon>
              <span>{{ errorMessage }}</span>
            </div>
          }

          @if (parqueaderoSeleccionado) {
            <div class="table-container">
              @if (mensajeExito) {
                <div class="mensaje-exito">
                  <mat-icon color="primary">check_circle</mat-icon>
                  <span>{{ mensajeExito }}</span>
                </div>
              }

              <app-reservas-activas
                [reservasActivas]="reservas"
                [loading]="loading"
                [showActions]="true"
                [emptyMessage]="'No hay reservas registradas en este parqueadero'"
                (finalizarReserva)="finalizarReserva($event)">
              </app-reservas-activas>
            </div>


          }
        }
      }
    </mat-card-content>
  </mat-card>
</div>