<div class="dashboard-container">

  <div class="dashboard-header">
    <div class="empresa-info">
      <span class="empresa-label">Empresa: </span>
      <span class="empresa-nombre">{{ empresaUsuario?.nombre || 'Cargando' }}</span>
    </div>
  </div>


  <div class="quick-actions">
    <h3>Acciones Rapidas</h3>
    <div class="actions-grid">
      <button 
        class="action-btn"
        (click)="cambioReservas()"
      >

        <i class="fas fa-plus-circle"></i>
        <span>{{ mostrarReservasActivas ? 'Mostrar Historial de Reservas' : 'Mostrar Reservas Activas' }}</span>
      </button>
      
      <button 
        class="action-btn"
        (click)="registrarVehiculo()"
      >
        <i class="fas fa-car"></i>
        <span>Registrar vehiculo</span>
      </button>
      
      <button class="action-btn"
        (click)="verCeldas()">
        <i class="fas fa-th-large"></i>
        <span>Ver Celdas</span>
      </button>

    </div>
  </div>

  
 @if (loading) {
    <div class="loading-contentainer">
      <mat-spinner></mat-spinner>
      <p>Cargando datos del dashboard...</p>
    </div>
  } @else 
  {
    <app-dashboard-stats [mainCards]="mainCards"></app-dashboard-stats>



    @if (!mostrarReservasActivas) {

      <div class="historial-reservas">
        <h3>Historial de reservas</h3>
        <app-historial-reservas 
          [historialReserva]="historial"
          [loading]="loading">

        </app-historial-reservas>
      </div>
    }


    @if (mostrarReservasActivas) {

      <div class="reservas-activas">
        <h3>Reservas Activas</h3>
        <app-reservas-activas 
          [reservasActivas]="reservasActivas"
          [loading]="loading">

        </app-reservas-activas>

      </div>

      
    }

  }
</div>